<launch>


    <!-- For sim -->
    <arg name="use_gazebo" default="true"/>

    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>

    <!-- Initial drone's position in Gazebo -->
    <arg name="init_pos_x" default="0.0" />
    <arg name="init_pos_y" default="0.0" />

    <!-- MAVROS + PX4 + Gazebo -->
    <include file="$(find px4_fast_planner)/launch/mavros.launch" >
        <arg name="use_gazebo" value="$(arg use_gazebo)"/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="x" value="$(arg init_pos_x)"/>
        <arg name="y" value="$(arg init_pos_y)"/>
    </include>



</launch>