
<launch>

 <!--  Camera -->
    <include file="$(find realsense2_camera)/launch/rs_d435i_largeFov.launch" >
    </include>


  <!-- VINS-Fusion -->
    <include file="$(find vins)/launch/vins_rviz.launch" ></include>

    <!--include file="$(find experiment_fast_planner)/launch/vins_fusion.launch" ></include>-->

</launch>